.options {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  column-gap: 150px;
  grid-template: 
  "paper scissors" 1fr
  "rock rock" 1fr;
  place-items: center;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    background-image: url(../images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center center; 
  }
  & .option:hover {
    cursor: pointer;
  }
}

.paper {
  grid-area: paper;
}
.scissors {
  grid-area: scissors;
}
.rock {
  margin-top: 100px;
  grid-area: rock;
  grid-column: 0/-1;
}

.option {
  display: inline-block;
  border-radius: 50%;
  border: 10px solid hsl(230, 89%, 65%);
  width: 120px;
  height: 120px;
  position: relative;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: #efefef;
}

.option-image {
  background-color: #efefef;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 35px;
  box-shadow: inset 0px 5px 1px rgba(0, 0, 0, 0.2);

}

.option img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 430px) {
  main {
    margin: 0;
  }
  footer {
    padding-top: 0;
  }
  .options {
    gap: 40px;
    &::before {
      background-size: 80%;
      top: 0;
    }
    .rock {
      margin-top: 0;
    }
  }
}