.chosenOpt {
  grid-area: choosen;
}

.houseOpt {
  grid-area: house;
}

.resultScreen {
  display: grid;
  grid-template: 
    "choosen house" 5fr
    "chosenTitle houseTitle" 1fr 
    "resultTitle resultTitle" 1fr / 1fr 1fr;
  justify-items: center;
}

.wait .option-image {
  opacity: 0;
}

.wait  {
  border: 10px solid transparent !important;
  background-color: rgba(0, 0, 0, 0.15);
}

.chosenOptTitle {
  grid-area: chosenTitle;
}

.houseOptTitle {
  grid-area: houseTitle;
}

.resultTitle {
  grid-area: resultTitle;
  & h1 {
    font-size: 2rem;
  }
}

.chosenOptTitle, .houseOptTitle {
  color: #efefef;
  font-weight: lighter;
  margin-top: 5px;
  text-shadow: 0px 0px 4px black;
}
