.chosenOpt {
  grid-area: choosen;
}

.houseOpt {
  grid-area: house;
}

.resultScreen {
  display: grid;
  grid-template: 
    "choosen house" 4fr
    "chosenTitle houseTitle" 1fr 
    "resultTitle resultTitle" 3fr 
    "btn btn" 3fr
    / 1fr 1fr;
  justify-items: center;
  align-items: center;
  color: #efefef;
  margin-top: 50px;
}

.wait .option-image {
  opacity: 0;
}

.wait  {
  border: 10px solid transparent !important;
  background-color: rgba(0, 0, 0, 0.15);
}

.chosenOptTitle {
  grid-area: chosenTitle;
  // position: relative;
}

.lightContainer1 {
  position: absolute;
  width: 140%;
  height: 140%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 0;
}

.houseOptTitle {
  grid-area: houseTitle;
}

.resultTitle {
  grid-area: resultTitle;
  font-size: 3.5rem;
  margin-top: 40px;
}

.playAgain {
  grid-area: btn;
  background-color: #efefef;
  color: #3b4363;
  width: 200px;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.chosenOptTitle, .houseOptTitle {
  font-weight: lighter;
  margin-top: 5px;
  text-shadow: 0px 0px 4px black;
}

@media screen and (min-width: 1090px) {
  .resultScreen {
  grid-template: 
  "chosenTitle ... houseTitle" 1fr 
    "choosen resultTitle house" 4fr
    "... btn ..." 3fr 
    / 2fr 1fr 2fr;
  }
  .resultTitle {
    margin: 0;
  }
}