@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed";
}

body {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  width: 100%;
  min-height: 100vh;
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  padding: 20px;
}

main {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  min-height: 400px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#showRulesBtn {
  color: #efefef;
  border: 1px solid #efefef;
  background-color: transparent;
  width: 100px;
  border-radius: 10px;
  margin: 0 auto;
  padding: .5em;
  font-size: 1em;
  opacity: .9;
  &:hover {
    cursor: pointer;
  }
}

.credits {
  color: #efefef;
  font-size: 1.5rem;
}

.link-icons {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  & li {
    margin: 5px;
  }
  & a{
    color: unset;
  &:hover {
    opacity: .6;
    }
  }
}